html {
    background-image: url(wallpaper.jpg);
    padding: 0px;
    scroll-behavior: auto;
}
body{
    width: 65%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.925)
}
h1 {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    text-align: center;
    line-height: 20pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
p {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt;
    text-align: left;
    line-height: 10pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}